<div class="container my-5">
  <button mat-raised-button color="primary" routerLink="/register-student">Register Student</button>

<!--  &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <h1 class="mt-4">Student List</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Contact</th>
      <th scope="col">Standard</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i +1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.contact}}</td>
      <td>{{user.standard}}</td>
      <td>
        <mat-icon>delete</mat-icon>
      </td>
    </tr>
    </tbody>

  </table>


</div>
