table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


mat-icon {
  cursor: pointer;
  color: #ff4e4e;
}

.add-icon {
  color: #fff;
}

.manage-icon {
  color: #444;
  font-size: 1rem;
  margin-top: .2rem;
}

button:not(:first-child) {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;

    button {
      width: 100%;
      margin-left: 0;
    }
  }
}
