<div class="container d-flex align-items-center justify-content-center register-student-wrapper">
  <mat-card class="my-5 form-card">
    <h1 class="text-center">Register Student</h1>
    <form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          ngModel
          name="name"
          #nameField="ngModel"
          placeholder="Enter Student Name"
          required
        >
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          ngModel
          name="username"
          #usernameField="ngModel"
          required
          placeholder="Enter Student Username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          type="email"
          matInput
          ngModel
          name="email"
          #emailField="ngModel"
          placeholder="Enter Student E-mail"
          required
        >
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input
          type="number"
          minlength="10"
          matInput
          ngModel
          name="contact"
          #contactField="ngModel"
          placeholder="Enter Student Phone No"
          required
        >
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Standard</mat-label>
        <input
          type="number"
          maxlength="2"
          matInput
          ngModel
          name="standard"
          #standardField="ngModel"
          placeholder="Enter Student Standard"
          required
        >
        <mat-icon matSuffix>school</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          ngModel
          name="password"
          #passwordField="ngModel"
          [type]="'password'"
          minlength="6"
          required
        >
        <mat-icon matSuffix>key</mat-icon>
      </mat-form-field>

      <button type="submit" mat-raised-button class="bg-color text-white">Register</button>
    </form>
  </mat-card>
</div>
