<div class="container d-flex align-items-center justify-content-center register-student-wrapper">
  <mat-card class="my-5 form-card">
    <h1 class="text-center">Register Student</h1>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Student Name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Student Username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Enter Student E-mail">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="Enter Student Phone No">
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Standard</mat-label>
        <input matInput placeholder="Enter Student Standard">
        <mat-icon matSuffix>school</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="'password'">
        <mat-icon matSuffix>key</mat-icon>
      </mat-form-field>

      <button type="submit" mat-raised-button class="bg-color text-white">Register</button>
    </form>
  </mat-card>
</div>
