mat-icon {
  color: #777;
}

mat-form-field {
  width: 100%;
}

.left-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.form {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

@media screen and (min-width: 599px) {
  .left-img {
    width: 50%;
  }

  .form {
    width: 50%;
  }
}
