.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-bg {
  background-color: #0289c9 !important;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (min-width: 599px) {
  .hidden {
    display: none;
  }
}

.hide {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .hide {
    display: none;
  }
}

.nav-link {
  font-weight: 400;
  font-size: 1.15rem;
  color: #fff;
  padding: 0 1rem;

  &:hover {
    color: rgba(#fff, .75);
  }
}
